@tailwind base;

@tailwind components;

@tailwind utilities;

.section-hero {
  background-image: url('../images/heart-hands.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.button-donate a:hover {
  background-color: blue;
}
